.wrapper.style1::after{
			background-color: #3b6255;
}

.major.banner::after{
    background-color: #3b6255;
}

.wrapper.style2::before{
			background-color: #8ba49a;
}

.wrapper.spotlight:before{
    background-color: #3b6255;
}

.wrapper.after{
    background-color: #3b6255;
}